<mat-toolbar color="accent">
    <ng-template [ngIf]="!(isauth$ | async)">
      <span>Basar Abrechnungsprogramm</span>
      <span class="fx-fill-remaining"></span>

      <!-- <li><a routerLink="/signup">Register</a></li> -->
      <a mat-button routerLink="/login">Login</a>
    </ng-template>
    <ng-template [ngIf]="(isauth$ | async)">
      <mat-icon *ngIf="(selectedBazaar$ | async)" matTooltip="Zum Dashboard: Eingabe der Daten" matTooltipPosition="right" (click)="routeToDashboard()">dashboard</mat-icon>&nbsp;
      <span *ngIf="!(selectedBazaar$ | async)">Basar Abrechnungsprogramm</span>

      <span>{{ (selectedBazaar$ | async)?.title }}</span>
      <span class="fx-fill-remaining"></span>
      <mat-form-field style="font-size: 0.7em; top: 5px;">
          <mat-select placeholder="Basare" (selectionChange)="select($event)">
              <mat-option>Neu anlegen</mat-option>
            <mat-option *ngFor="let bazaar of bazaars$ | async" [value]="bazaar" >
              {{bazaar.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <a mat-button *ngIf="(selectedBazaar$ | async)" routerLink="/administration">Verwaltung (todo nur Admins!!!)</a>
      <a mat-button (click)="logout()">Logout</a>
    </ng-template>
</mat-toolbar>