<section>
  <mat-card fxFlex.xs="100%">
    <mat-card-title>Eingaben</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="35px">
      <form fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start end" fxLayoutGap="25px" [formGroup]="cartForm"
        (ngSubmit)="addToCart()">
        <mat-form-field>
          <span matPrefix>Nr: &nbsp;</span>
          <input type="number" matInput placeholder="" formControlName="vendor" min="1" max="(selectedBazaar$ | async).nbOfVendors" required>
          <mat-hint>Verkäufernummer: 1 - {{ (selectedBazaar$ | async).nbOfVendors }}</mat-hint>
          <!-- <mat-error [hidden]="cartForm.controls.vendor.valid">
              street required
          </mat-error> -->
          <mat-error *ngIf="cartForm?.controls.vendor?.errors?.min">Bitte min. Verkäufernummer (1) beachten</mat-error>
          <mat-error *ngIf="cartForm?.controls.vendor?.errors?.max">Bitte max. Verkäufernummer ({{ (selectedBazaar$ | async).nbOfVendors }}) beachten</mat-error>
        </mat-form-field>
        <mat-form-field>
          <span matPrefix>Preis: &nbsp;</span>
          <input type="number" matInput placeholder="" formControlName="price" required>
          <!-- <mat-icon matSuffix>library_add</mat-icon> -->
          <span matSuffix>€</span>
          <mat-hint>Artikelpreis</mat-hint>
        </mat-form-field>
        <span fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start start">
          <button matButton type="submit" mat-raised-button [disabled]="cartForm.invalid">OK</button>
        </span>
      </form>
      <mat-divider></mat-divider>
      <div #cartlist fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="25px">
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <span>Summe:</span>
          <span>{{total | currency: '€'}}</span>

          <button matButton mat-raised-button [disabled]="!total" (click)="payment()">
            <mat-spinner *ngIf="isLoading" diameter="39"></mat-spinner>
            <span *ngIf="!isLoading">bezahlen</span>
          </button>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="25px" style="width: 80%;  overflow-x: auto;">
          <div *ngFor="let item of cart" fxLayout="column" fxLayoutAlign="space-around center" class="cart text-center"
            style=" margin-bottom: 5px !important; min-width: 75px;">
            <span>{{item.vendor}}</span>
            <span>{{item.price | currency : '€'}}</span>
            <button matButton mat-raised-button color="warn" (click)="removeFromCart(item)">X</button>
          </div>
        </div>
        {{paymentError}}
      </div>
    </mat-card-content>
  </mat-card>
</section>
