<section fxFill fxLayout fxLayoutAlign="center" fxLayoutGap="20px" style="height:100vh;">
  <mat-card fxFlex.xs="100%" class="gap">
    <mat-card-title>Deine Basardaten</mat-card-title>
    <mat-card-subtitle>Du bist der Admin für diesen Basar. Nur du kannst diese Daten bearbeiten.</mat-card-subtitle>
    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px" [formGroup]="bazaarForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input type="text" matInput placeholder="Titel *" formControlName="title" maxlength="150">
          <mat-hint>Gib deinem Basar einen Namen</mat-hint>
          <mat-error>Fehlender Titel</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput placeholder="Anzahl Verkäufer *" formControlName="nbOfVendors">
          <mat-hint>Wieviele Verkäufer dürfen auf deinem Basar mitmachen</mat-hint>
          <mat-error>Bitte gib eine Zahl an</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="number" matInput placeholder="Auslagen *" formControlName="fee">
            <mat-hint>Gib die Auslagen an, die du jedem Verkäufer berechnest</mat-hint>
            <mat-error>Bitte gib eine Zahl an</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input type="number" matInput placeholder="Marge *" formControlName="margin">
              <mat-hint>Gib die Höhe der Marge an, die die Einrichtung vom Umsatz je Verkäufer abzieht</mat-hint>
              <mat-error>Bitte gib eine Zahl an</mat-error>
            </mat-form-field>
              <span fxFill fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="start start">
                  <mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
          <button matButton *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button [disabled]="bazaarForm.invalid">Speichern</button>
        </span>
      </form>
    </mat-card-content>
  </mat-card>
</section>
<app-invite *ngIf="selectedBazaar$ | async"></app-invite>