<section fxFill fxLayout fxLayoutAlign="center" fxLayoutGap="20px" style="height:100vh;">
    <mat-card fxFlex.xs="100%" class="gap">
        <mat-card-title>Das Abrechnungsprogramm für Basare</mat-card-title>
        <mat-card-subtitle>Hallo und willkommen im Abrechnungsprogramm für Kita- und Schulbasare</mat-card-subtitle>
        <mat-card-content>
            <h2>Kennst du das auch?</h2>
            <p>Du organisierst einen Basar, alles läuft prima und hinterher müsst ihr die Abrechnung machen. Vielleicht
                nutzt ihr schon Excel aber wenn ihr mehrere Kassen habt, wird es schon schwierig die einzelnen
                Positionen zusammenzuführen, Umsatz und Gewinn je Verkäufer auszurechnen.</p>
            <p><strong>Damit ist nun Schluss.</strong> Hier ist das ultimative Abrechnungsprogramm für Basare.</p>
            <p>Du glaubst mir nicht? Probier es einfach aus. Es ist kostenlos und du gehst keine Verpflichtungen ein.</p>
            <h2>Voraussetzungen</h2>
            <p>Eigentlich keine, außer einer gültigen google Emailadresse.</p>
            <h2>Wie geht das?</h2>
            <p>Ganz einfach. Grundsätzlich geht es um Basare, die zentral organisiert werden, d.h. nicht die einzelnen
                Verkäufer verkaufen selbst und kassieren, sondern alle Verkäufer haben ihre Sachen mit Preisschildern
                beklebt und der Verkauf wird durch euch - das Orgateam - geleitet.</p>
            <p>In diesem Programm kannst du nun die Rahmenbedingungen zu deinem Basar eingeben und sobald er startet
                geben alle Kassierer (es sind unbegrenzt Kassen möglich) die Daten der Artikel ein. Das Programm
                errechnet die Summe aller Artikel je Käufer.</p>
            <p>Am Ende musst du nur noch das Geld in den Kassen zählen.</p>
            <h2>Und das ist wirklich alles?</h2>
            <p>Ja. Jetzt musst du es nur noch ausprobieren und dich <a routerLink="login">anmelden</a>.</p>
            <p>Warum muss ich mich anmelden? Damit nicht jeder auf deine Basardaten zugreifen kann. Deine Daten sehen
                nur du (naja und ich) und alle, die du zu deinem Basar einlädst.</p>
            <p>Hab keine Angst, wenn du jetzt natürlich wissen willst wer ich bin, schau in mein <strong>Profil</strong></p>
            <mat-divider></mat-divider>
            <h3>Accounts</h3>
            <p>
                Bitte beachte, dass du nur Personen einladen kannst, die ein gültiges google Konto besitzen. (gmail
                oder googlemail Adresse). Du findest diesen Quellcode aber bei github und kannst diesen gerne für deine
                Zwecke nutzen und anpassen.
            </p>
        </mat-card-content>
    </mat-card>
</section>