/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    font-family: 'Roboto', sans-serif;
    /* height: 100%; */
  }
  
  body {
    margin: 0;
  }

  .fx-fill-remaining {
    flex: 1 1 auto;
    margin-left: 10px; /* on narrow screens */
}
.mat-spinner circle {
  stroke: #ffd740;
}

.gap {
  margin: 20px;
}

mat-card-content {
    display: flex;
    flex-direction: column;
  }

  mat-card-content > * {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
  }
  form > * {
    width: 100%;
  }
  
